{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu dos Jogos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <div class="container">
            <h1>Museu dos Jogos</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/exposicoes/">Exposições</a></li>
                    <li><a href="/linha-do-tempo/">Linha do Tempo</a></li>
                    <li><a href="/visita-virtual/">Visita Virtual</a></li>
                    <li><a href="/contato/">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="top-bar">
        <div class="top-bar-left">jogos</div>
        <div
         <i style="font-size: 30px;" class="bi bi-person-fill"></i>
        </div>
      </div>
    
      <div class="carousel-section">
        <div class="gradient-left"></div>
        <div class="gradient-right"></div>
    
        <button class="arrow arrow-left" onclick="prevGame()">&#x25C0;</button>
    
        <div class="carousel-container">
          <div class="game-display" id="gameDisplay"></div>
        </div>
        
        <div>
        <button class="arrow arrow-right" onclick="nextGame()">&#x25B6;</button>
        </div>
      </div>
    
      <div class="categories-button">
        <button>categorias</button>
      </div>
    
      <div class="categories">
        <div class="category">categoria 1</div>
        <div class="category">categoria 2</div>
        <div class="category">categoria 3</div>
      </div>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Museu dos Jogos. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
