{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu dos Jogos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <div class="container">
            <h1>Museu dos Jogos</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/exposicoes/">Exposições</a></li>
                    <li><a href="/linha-do-tempo/">Linha do Tempo</a></li>
                    <li><a href="/visita-virtual/">Visita Virtual</a></li>
                    <li><a href="/contato/">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="carouselExampleDark" class="carousel slide">
        <div class="carousel-indicators">
            {% for img in slideshows %}        
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{%endif%}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
        {% for img in slideshows %}
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{{ img.imagem.url }}" alt="{{ img.alt }}" title="{{ img.titulo }}" class="d-block w-100" style="width:100%; height:850px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{img.titulo}}</h5>
              <p>{{img.descricao}}</p>
            </div>
          </div>
          {% empty %}
          <p>Não tem nenhuma imagem </p>
          {% endfor %}      
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>