{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Street Fighter 2 - Menu</title>
    <link rel="stylesheet" href="{% static 'jogos/streetfighter2/streetfighter2.css' %}">
</head>
<body>
    <div id="menuContainer">
        <h1>Street Fighter 2: Champion Edition</h1>
        <ul>
            <li><a href="#">Iniciar Jogo</a></li>
            <li><a href="#">Opções</a></li>
            <li><a href="#">Créditos</a></li>
        </ul>
    </div>
</body>
</html>
