{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sonic - Fase 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'jogos/sonic/historia.css' %}">
</head>
<body>

<div class="fase-bg">
    <!-- Título removido, JS vai criar -->
</div>

<script src="{% static 'jogos/sonic/historia.js' %}"></script>
<div class="back-button" id="backButton"></div>

</body>
</html>
